/* THIS IS MEANT ONLY FOR FULL SCREEN OR ELSE IT GETS MESSED UP :D */
header {
  display: flex;
  align-items: center;
  justify-content: center
}
table {
  width: 640px;
  margin:auto ;
  align-content:auto;
  border: 2px solid black;
}
th {
  border: 2px solid black;
}
td{
  border: 2px solid black;
}
input {
     display: inline-block;
  align-content: center;
  justify-content: center;
}

#inTheInputs{
position: absolute;
left: 50%;
transform: translate(-50%, 10%);
width: auto;
height: auto;
border:2px solid black;

}

#deleteButton {
  position: absolute;
  left: 60%;
  transform: translate(70%, 150%);
  width: auto;
  height: auto;
}
#submitButton {
  position: absolute;
  right: 21%;
  transform: translate(-50%, 30%);
  width: auto;
  height: auto;
}

.highlighted {
  background-color: yellow;
}
