header {
  display: flex;
  align-items: center;
  justify-content: center
}
table {
  width: 640px;
  margin:auto ;
  align-content:auto;
  border: 2px solid black;
}
th {
  border: 2px solid black;
}
td{
  border: 2px solid black;
}
input {
     display: inline-block;
  align-content: center;
  justify-content: center;
}

#inTheInputs{
position: absolute;
left: 50%;
transform: translate(-50%, 10%);
width: auto;
height: auto;
border:2px solid black;

}

#deleteButton {

  float:right;
}

.highlighted {
  background-color: yellow;
}
